.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f8f9fa; /* Couleur de fond claire */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.table {
  border-collapse: collapse;
  background-color: #fff;
}

.table th {
  background-color: #007bff;
  color: white;
  text-align: center;
  font-weight: bold;
}

.table td,
.table th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table-hover tbody tr:hover {
  background-color: #e9ecef;
}

